<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/head %>
</head>
<body>
	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><i class="fa fa-lock"></i>Login or Register</h1>
				<a href="/login" class="btn btn-light">
					<i class="fa fa-user"></i>Local Login
				</a>

				<a href="/signup" class="btn btn-light">
					<i class="fa fa-user"></i>Local SignUp
				</a>
			</div>
		</div>
	</div>
	
</body>
</html>