        <%if(footer){%>
        <footer>
            <div class="container bg-dark p-3 text-white">
                <span class="text-muted">
                    <a href="https://github.com/angm17/angpastes/" target="_blank">
                            AngPastes</a> Copyright &copy; 2018 - <a href="https://github.com/angm17/" target="_blank"><i class="fab fa-github-square fa-2x navicon"></i> Miguel A
                    </a>
                </span>
            </div>
            
        </footer>
        <%}%>
        <script src="/js/font-awesome.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>